<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="authy-net-client" version="1.0.17" targetFramework="net452" />
  <package id="Machine.Specifications.Runner.Console" version="0.9.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.9-build00167" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.4.1" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.7" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="2.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.ReportViewer.2015.Runtime" version="12.0.2.2402" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net452" />
</packages>