<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
 

  <connectionStrings>
    <add name="DBconexion" connectionString="user id=root;pwd=selva031#;data source=localhost;persist security info=False;initial catalog=icaten;"
      providerName="MySql.Data.MySqlClient" />
    <add name="ReportLibrary.Properties.Settings.Valor" connectionString="user id=root;password=selva031#;server=localhost;persistsecurityinfo=False;database=icaten"
      providerName="MySql.Data.MySqlClient" />
    <add name="ReportLibrary.Properties.Settings.icaten" connectionString="user id=root;password=selva031#;server=localhost;persistsecurityinfo=False;database=icaten"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>