<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
 

  <connectionStrings>
    <add name="DBconexion" connectionString="user id=root;pwd=selva031#;data source=localhost;persist security info=False;initial catalog=rendilana;"
      providerName="MySql.Data.MySqlClient" />
    <add name="ReportLibrary.Properties.Settings.rendilana" connectionString="user id=root;pwd=selva031#;data source=localhost;persist security info=False;initial catalog=rendilana;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>